In [4]:
#Question 1
Name = input('Enter your name ' )
Age = int(input('Enter your age '))
YearToBeAdded = 100 - Age
print('In the Year ', 2022 + YearToBeAdded, Name,' will become 100 years' )

Enter your name Narayanan
Enter your age 52
In the Year  2070 Narayanan  will become 100 years

In [9]:
# Question 2
# Group By in pandas is used for combining similar values in a column and take their averages/perform any operation over them
import pandas as pd

Dictionary = {'Name': ['Jim', 'Jack', 'Sam', 'Jill'],
              'City': ['Dalas', 'Dalas', 'New York', 'Dalas'],
              'Age' : [23, 25, 45, 35]}
NewDataFrame = pd.DataFrame(Dictionary)
NDF = NewDataFrame.groupby('City')
NDF.first()

         Name  Age
City
Dalas     Jim   23
New York  Sam   45

In [10]:
# Question 3

List = ['Red', 'Orange', 'Brown', 'Green', 'Rose']
NewDataFrame = pd.DataFrame(List)
NewDataFrame

        0
0     Red
1  Orange
2   Brown
3   Green
4    Rose

In [16]:
# Question 4

ListOne = [1, 2, 3, 4]
ListTwo = [5, 6, 7, 8]
DataFrameOne = pd.DataFrame(ListOne)
DataFrameTwo = pd.DataFrame(ListTwo)
CombinedList = [DataFrameOne,DataFrameTwo]
NewDataFrame = pd.concat(CombinedList)
NewDataFrame
NewDataFrame = DataFrameOne.append(DataFrameTwo)
NewDataFrame
NewDataFrame = pd.concat(CombinedList,axis=1,join='inner')
NewDataFrame

   0  0
0  1  5
1  2  6
2  3  7
3  4  8

In [ ]:
# Question 5
# Both Lists and Tuples are used to store multiple values.  Lists are Mutable, Ordered, Allow Duplicates.  Tuples are Immutable,
# Ordered, Allow Duplicates

In [21]:
# Question 6

import numpy as np

MyArray = np.array([1, 3, 5, 100, 4, 48])
np.mean(MyArray)
np.median(MyArray)
np.std(MyArray)

36.59424666377065

In [1]:
# Question 7

MyList = [1, 2, 3, 3, 4, 5]
MySet = set()
for i in MyList:
    MySet.add(i)
for i in MySet:
    print(i)

1
2
3
4
5

In [3]:
# Question 8
# A map function will receive a function as first parameter and apply that function to all the elements in the second parameter

MyList = ['1', '2', '3', '4', '5']
NewList = list(map(int, MyList))
print(NewList)

[1, 2, 3, 4, 5]

In [ ]:
# Question 9

# pass is a statement in Python.  It is executed by the Interpreter where as a comment is not executed.  
# Wherever null statement is not allowed, a pass statement can be used.  Please see the example

n = 10
for i in range(n):
    pass

In [8]:
# Question 10

# vstack() function will arrange the group of elements in vertical order.  Please see the example below
import numpy as np
MyArray = np.array([1, 2, 3, 4])
NewArray = np.vstack(MyArray)
NewArray

array([[1],
       [2],
       [3],
       [4]])